@import './theme.css';

#boot-hash-dialog {
    --md-dialog-container-color: var(--md-sys-color-surface-container-high);
}

#boot-hash-input {
    width: 100%;
    --md-outlined-text-field-container-shape: 8px;
}
