@import './theme.css';

#about-dialog {
    --md-dialog-container-color: var(--md-sys-color-surface-container-high);
}

#module_name_line1 {
    font-size: 30px;
    user-select: none;
    line-height: 1.3;
}

#module_name_line2 {
    font-size: 22px;
    user-select: none;
    line-height: 1.5;
}

#authored {
    font-size: 14px;
    user-select: none;
}

#disclaimer {
    font-family: serif;
    width: calc(100% - 20px);
    margin: 10px 0;
    padding: 8px 10px;
    border-radius: 10px;
    background-color: var(--md-sys-color-surface-container-highest);
}

.acknowledgment p {
    margin: 5px;
}

#acknowledgment {
    margin-top: 15px;
    font-weight: bold;
    font-size: 18px;
    user-select: none;
}

.link {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

#telegram {
    --md-sys-color-primary: #38A7ED;
    --md-sys-color-on-primary: white;
}

#github {
    --md-sys-color-primary: var(--md-sys-color-inverse-surface);
    --md-sys-color-on-primary: var(--md-sys-color-inverse-on-surface);
}

#canary {
    --md-sys-color-primary: #821284;
    --md-sys-color-on-primary: white;
}

#locales {
    --md-sys-color-primary: #4285F4;
    --md-sys-color-on-primary: white;
}