@import './theme.css';

.header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0 8px;
    padding-top: var(--top-inset);
    height: 64px;
    width: calc(100% - 16px);
    max-width: 1100px;
    background-color: var(--md-sys-color-surface);
    transition: background-color 0.2s ease;
    z-index: 3;
    user-select: none;
}

.header-bg.scroll {
    background-color: var(--md-sys-color-surface-container);
}

.search-input {
    position: absolute;
    height: 64px;
    top: calc(var(--top-inset));
    left: 10px;
    min-width: 200px;
    width: 70%;
    opacity: 0;
    transition: all 0.3s ease;
    pointer-events: none;
}

[dir="rtl"] .search-input {
    left: unset;
    right: 10px;
}

.search-input.show {
    width: calc(100% - 64px);
    opacity: 1;
    pointer-events: auto;
}

.search-bg {
    transition: opacity 0.3s ease;
}

.search-bg.hide {
    opacity: 0;
}

#title {
    padding-left: 8px;
    font-size: 22px;
}

[dir="rtl"] #title {
    padding-left: unset;
    padding-right: 5px;
}

.search-button {
    margin-left: auto;
    --md-icon-button-icon-color: var(--md-sys-color-on-surface);
}

[dir="rtl"] .search-button {
    margin-left: unset;
    margin-right: auto;
}

#language-menu {
    --md-menu-container-color: var(--md-sys-color-surface-container-high);
    white-space: nowrap;
    max-height: calc(100vh - var(--top-inset) - var(--bottom-inset) - 80px);
}

[dir="ltr"] .rtl-icon {
  display: none;
}

[dir="rtl"] .ltr-icon {
  display: none;
}

.help-button {
    --md-icon-button-icon-color: var(--md-sys-color-on-surface-variant);
}

.menu {
    position: relative;
}

#menu-button {
    --md-icon-button-icon-color: var(--md-sys-color-on-surface);
}

.menu md-menu-item {
    white-space: nowrap;
}

#menu-options {
    --md-menu-container-color: var(--md-sys-color-surface-container-high);
    max-height: calc(100vh - var(--top-inset) - var(--bottom-inset) - 80px);
}

#select-denylist,
#security-patch {
    display: none;
}
