@import './theme.css';

#add-system-app-dialog {
    --md-dialog-container-color: var(--md-sys-color-surface-container-high);
}

.current-system-app-list {
    margin-top: 25px;
    margin-bottom: 10px;
    user-select: none;
}

.current-system-app-list-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.system-app-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
    border-bottom: 1px solid var(--md-sys-color-outline-variant);
    padding: 10px;
    word-wrap: break-word;
    overflow-wrap: anywhere;
    word-break: break-all;
}

.system-app-item:last-child {
    border-bottom: none;
}

.remove-system-app-button {
    --md-sys-color-primary: var(--md-sys-color-error);
    --md-sys-color-on-primary: var(--md-sys-color-on-error);
}
